h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol:last-child,
ul:last-child {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
}

textarea {
  resize: none;
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: currentColor;
  border: none;

  display: block;
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
