/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol:last-child,
ul:last-child {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

input,
textarea {
  font-family: inherit;
  outline: none;
}

textarea {
  resize: none;
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: currentColor;
  border: none;

  display: block;
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Visually hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Container */
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Global */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 1.5;

  color: #434455;
  background-color: #ffffff;
}

.hero-section,
.photo-section,
.anchor-section,
.author-section,
.ingredients-section,
.directions-section,
.tips-section,
.form-section,
.footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

h2 {
  margin-bottom: 30px;
}

h3 {
  margin-bottom: 20px;
}

h1,
h2,
h3 {
  letter-spacing: 0.03em;
}

nav,
button {
  text-transform: capitalize;
}

.logo {
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

/* Header */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  padding: 20px 0;
}

.header-logo .part-logo {
  color: #2e2f42;
}

.header-nav-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-nav-list-item-link {
  display: block;
  padding: 20px 0;
}

/* Breadcrumbs section */
.breadcrumbs-section-list {
  display: flex;
  align-items: center;
}

.breadcrumbs-section-list-item {
  font-size: 14px;
  display: block;
}

.breadcrumbs-section-list-item p {
  text-decoration: underline;
  color: #4d5ae5;
}

.breadcrumbs-section-list-item a:after {
  content: '  /   ';
  color: #2e2f42;
  margin-right: 10px;
  margin-left: 5px;
}

/* Hero section */
.hero-section {
  padding: 50px 0;
  color: #ffffff;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  border-radius: 15px;
  background-color: #212121;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 255, 0.3),
      rgba(0, 0, 255, 0.3)
    ),
    url(https://ac.goit.global/fullstack/html-css-v2/module-1/autocheck/pancakes.jpg);
}

.hero-section-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-section-info-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

.hero-section-info-list-item {
  display: block;
}

/* Photo section */
.photo-section-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.photo-section-list-item {
  display: block;
  transition: transform 250ms ease-in-out;
  width: calc((100% - 2 * 20px) / 3);
}

.photo-section-list-item:hover {
  transform: scale(1.15);
}

/* Anchor section */

/* Author section */
.author-section-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.author-section-list-item {
  display: block;
}

/* Ingredients section */
.ingredients-section-table-product-row:nth-child(odd) {
  background-color: #03a9f4;
}

.ingredients-section-table-product-row:nth-child(even) {
  background-color: #ffeb3b;
}

/* Directions section */

/* Tips section */
.tips-section-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.tips-section-list-item {
  display: block;
  width: calc((100% - 2 * 20px) / 3);
}

/* Feedback section */
.feedback-section-form {
  display: flex;
  flex-direction: column;
  gap: 15px;

  padding: 15px;
  border: 1px solid #434455;
  max-width: 500px;
}

.feedback-section-form-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 3px;
}

.feedback-section-form-input {
  padding: 10px;
  color: #434455;
  border: 1px solid #434455;
  border-radius: 5px;
}

.feedback-section-form-input:focus-within {
  border-color: #4d5ae5;
}

.feedback-section-form-input::placeholder {
  color: #434455;
}

/* Navigation buttons section */
.navigation-section-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Footer */
.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-logo {
  padding: 20px 0;
}

.footer-logo .part-logo {
  color: #2e2f42;
}

.footer-nav-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.footer-nav-list-item-link {
  display: block;
  padding: 20px 0;
}

.footer-social-list {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
}

.footer-social-list-item {
  display: block;
}
