/* Common styles */
@import url('./reset.css');
@import url('./container.css');
@import url('./global.css');
@import url('./visually-hidden.css');

/* Sections style */
@import url('./header.css');
@import url('./mobile-menu.css');
@import url('./breadcrumbs.css');

@import url('./hero.css');
@import url('./photo.css');
@import url('./author.css');
@import url('./ingredients.css');
@import url('./directions.css');
@import url('./tips.css');
@import url('./feedback.css');
@import url('./other-recipes.css');
@import url('./navigation.css');

@import url('./footer.css');
